{% extends 'SeoCoreBundle::layout.html.twig' %}

{% block container %}

{% for key, message in app.session.getFlashes() %}
<div class="alert alert-{{ key }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}

{% block fos_user_content %}
{% endblock fos_user_content %}
{% endblock %}