<div id="search" style=""><!--a--><h2 class="hd">Search Results</h2>

    <div id="ires">
        <ol eid="hsS8T7e1F6nW0QWSqvFR" id="rso"><!--m-->
            <li class="g">
                <div class="vsc" pved="0CGAQkgowAA" bved="0CGEQkQo" sig="ahe"
                     data-extra="ludocid=3613088527916852521&amp;lumarker=A">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi0"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -35px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,3613088527916852521&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=1&amp;ved=0CKUBEK8LMAA"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">Klasztorna 31<br>Kraków<br>
                                        <nobr>12 425 84 30</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a href="http://www.rowerowy.biz/" class="l"
                                     onmousedown="return rwt(this,'','','','1','AFQjCNEbRj03QDdyO_lC8qsiPlOnhXLr-w','','0CKcBEBYwAA',null,event)">Tomar
                        <em>Kraków</em>: <em>Rowery</em> górskie, miejskie - sklep <em>rowerowy</em>.biz</a></h3>

                    <div class="s">
                        <div class="f kv"><cite>www.<b>rowerowy</b>.biz/</cite><span class="vshid"><a
                                href="http://webcache.googleusercontent.com/search?q=cache:Y5q84TynYA8J:www.rowerowy.biz/+rower+krak%C3%B3w&amp;cd=1&amp;hl=en&amp;ct=clnk&amp;client=safari"
                                onmousedown="return rwt(this,'','','','1','AFQjCNG-P-BZm8umVh3-_tPV6jnmQ6-hNg','','0CGMQIDAA',null,event)">Cached</a></span><span
                                class="std">&nbsp;<span class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.rowerowy.biz/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=1&amp;ved=0CKgBEO4BMAA&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.rowerowy.biz/" g:undo="poS0" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S0"></button>
                        </div>
                        <div class="esc slp" id="poS0" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=3613088527916852521&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=1&amp;ved=0CKwBEOIJMAA"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li class="g">
                <div class="vsc" pved="0CGUQkgowAQ" bved="0CGYQkQo" sig="lnU"><h3 class="r"><a
                        href="http://rowerem.org/" class="l"
                        onmousedown="return rwt(this,'','','','2','AFQjCNEu3HhFiP5mct4PQeiClQxV4h0n9g','','0CK0BEBYwAQ',null,event)"><em>Rowerem</em>
                    przez <em>Kraków</em> - <em>rower</em> i <em>Kraków</em></a></h3>

                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <div class="s" id="mbb2" valign="top">
                        <div class="f kv"><cite><b>rowerem</b>.org/</cite><span class="vshid"><a
                                href="http://webcache.googleusercontent.com/search?q=cache:IdJRiDLgLaAJ:rowerem.org/+rower+krak%C3%B3w&amp;cd=2&amp;hl=en&amp;ct=clnk&amp;client=safari"
                                onmousedown="return rwt(this,'','','','2','AFQjCNGLKP-8mHVkTqHJHw4K9cupp-Lh8Q','','0CGgQIDAB',null,event)">Cached</a>&nbsp;-&nbsp;<a
                                href="/search?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;biw=1680&amp;bih=918&amp;q=related:rowerem.org/+rower+krak%C3%B3w&amp;tbo=1&amp;sa=X&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;ved=0CGkQHzAB">Similar</a></span><span
                                class="std">&nbsp;<span class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://rowerem.org/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=2&amp;ved=0CK4BEO4BMAE&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://rowerem.org/" g:undo="poS1" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S1"></button>
                        </div>
                        <div class="esc slp" id="poS1" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st">Przez miasto. mapa <em>rowerowa</em> - aktualne trasy <em>rowerowe</em> przez miasto, zdjęcia + opisy; Miejsca niebezpieczne; Galeria zdjęć, w tym <em>rowerowe</em> nonsensy <b>...</b></span>

                        <div class="bl"><br><span class="ch" id="mbl2" onclick="google.x(this)"
                                                  style="display:inline-block"><div class="mbt"
                                                                                    title="Click for more information"
                                                                                    style="">+
                        </div><a href="#" onclick="return false" class="mblink" style="color:#12c">Show map of&nbsp;Antoniego
                            Józefa Madalińskiego 5, Kraków, Polska</a></span><br></div>
                        <div id="mbf2" style="padding-top: 0px; ">
                            <div class="osl">
                                <div class="osi"></div>
                                <a href="http://rowerem.org/news/34"
                                   onmousedown="return rwt(this,'','','','2','AFQjCNHrofiv-hO50qm8LGBaqKnYWpHLPA','','0CLIBENICKAAwAQ',null,event)">Jak
                                    się ubierać na rower?</a> - <a href="http://rowerem.org/prognoza_pogody"
                                                                   onmousedown="return rwt(this,'','','','2','AFQjCNHyD3zprgncZZbO66CYCtJRPPvJYA','','0CLMBENICKAEwAQ',null,event)">Pogoda
                                w Krakowie</a> - <a href="http://rowerem.org/mapa"
                                                    onmousedown="return rwt(this,'','','','2','AFQjCNEn_-wIcY6SVAcDSe7z61bIEQWInQ','','0CLQBENICKAIwAQ',null,event)">Mapa
                                rowerowa</a> - <a href="http://rowerem.org/ankieta_wyniki.html"
                                                  onmousedown="return rwt(this,'','','','2','AFQjCNHWFNnHojBEEuIUI2EXQNdUyebgyQ','','0CLUBENICKAMwAQ',null,event)">Wyniki</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li class="g">
                <div class="vsc" pved="0CGsQkgowAg" bved="0CGwQkQo" sig="mpc"><h3 class="r"><a
                        href="http://www.secesja.pl/" class="l"
                        onmousedown="return rwt(this,'','','','3','AFQjCNH3tmh2zjDcgRgax_kCMmPGqCEzAw','','0CLcBEBYwAg',null,event)">Secesja,
                    Centrum <em>Rowerowe w Krakowie</em></a></h3>

                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <div class="s" id="mbb3" valign="top">
                        <div class="f kv"><cite>www.secesja.pl/</cite><span class="vshid"><a
                                href="http://webcache.googleusercontent.com/search?q=cache:qmVIxAP0_j0J:www.secesja.pl/+rower+krak%C3%B3w&amp;cd=3&amp;hl=en&amp;ct=clnk&amp;client=safari"
                                onmousedown="return rwt(this,'','','','3','AFQjCNGtiTEFNeC6QcNth74k5sQw4suMjA','','0CG4QIDAC',null,event)">Cached</a>&nbsp;-&nbsp;<a
                                href="/search?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;biw=1680&amp;bih=918&amp;q=related:www.secesja.pl/+rower+krak%C3%B3w&amp;tbo=1&amp;sa=X&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;ved=0CG8QHzAC">Similar</a></span><span
                                class="std">&nbsp;<span class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.secesja.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=3&amp;ved=0CLgBEO4BMAI&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.secesja.pl/" g:undo="poS2" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S2"></button>
                        </div>
                        <div class="esc slp" id="poS2" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st">Szukaj w serwisie. <em>Rower</em> dla Ciebie <b>...</b> Wyprzedaż <em>rowerów</em> GHOST. Od dnia 05/ 09/20011 · <em>rowery</em> marki GHOST SPRZEDAJEMY · W cenach NETTO <b>...</b></span>

                        <div class="bl"><br><span class="ch" id="mbl3" onclick="google.x(this)"
                                                  style="display:inline-block"><div class="mbt"
                                                                                    title="Click for more information"
                                                                                    style="">+
                        </div><a href="#" onclick="return false" class="mblink" style="color:#12c">Show map of&nbsp;Wielicka
                            8, Kraków, Polska</a></span><br></div>
                        <div id="mbf3" style="padding-top: 0px; display: none; "></div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li style="margin-bottom:14px" class="g">
                <div class="vsc" pved="0CHEQkgowAw" bved="0CHIQkQo" sig="2mY"
                     data-extra="ludocid=7123431407324113964&amp;lumarker=B">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi3"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -70px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,7123431407324113964&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=4&amp;ved=0CLwBEK8LMAM"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">ul. Józefińska 4<br>Kraków<br>
                                        <nobr>12 296 18 85</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a
                            href="/url?sa=t&amp;rct=j&amp;q=rower%20krak%C3%B3w&amp;source=web&amp;cd=4&amp;ved=0CL4BEBYwAw&amp;url=http%3A%2F%2Fwww.variobike.enic.pl%2F&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;usg=AFQjCNEHvrOPUXIPpzb4yrXziQHUeiAQAw"
                            class="l"
                            onmousedown="return rwt(this,'','','','4','AFQjCNEHvrOPUXIPpzb4yrXziQHUeiAQAw','','0CL4BEBYwAw',null,event)">Vario
                        Bike</a></h3>

                    <div class="s">
                        <div class="f kv"><cite>www.variobike.enic.pl/</cite><span class="vshid"></span><span
                                class="std">&nbsp;<span class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.variobike.enic.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=4&amp;ved=0CL8BEO4BMAM&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.variobike.enic.pl/" g:undo="poS3" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S3"></button>
                        </div>
                        <div class="esc slp" id="poS3" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a
                                    href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=7123431407324113964&amp;sa=X&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;ved=0CMQBEN0O"><span
                                    class="csb"
                                    style="background-position:-100px -260px;display:-moz-inline-box;display:inline-block;height:13px;width:65px;text-align:left;vertical-align:baseline;position:relative;top:1px"><span
                                    class="csb"
                                    style="background-position:-100px -275px;height:13px;width:59px;overflow:hidden;text-align:left"></span></span></a> <a
                                    class="fl"
                                    href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=7123431407324113964&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=4&amp;ved=0CMMBEOIJMAM"><span
                                    style="white-space:nowrap">6 Google reviews</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li style="margin-bottom:14px" class="g">
                <div class="vsc" pved="0CHUQkgowBA" bved="0CHYQkQo" sig="PT5"
                     data-extra="ludocid=8800028874533072262&amp;lumarker=C">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi4"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -105px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,8800028874533072262&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=5&amp;ved=0CMUBEK8LMAQ"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">4<br>Zabawa<br>
                                        <nobr>12 278 33 43</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a href="http://www.bikenew.pl/" class="l"
                                     onmousedown="return rwt(this,'','','','5','AFQjCNFgKRRS65ZEzFTqc5Vrj137e8eGeA','','0CMcBEBYwBA',null,event)">Bike
                        New. Sprzedaż hurtowa i detaliczna <em>rowerów</em></a></h3>

                    <div class="s">
                        <div class="f kv"><cite>www.bikenew.pl/</cite><span class="vshid"></span><span class="std">&nbsp;<span
                                class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.bikenew.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=5&amp;ved=0CMgBEO4BMAQ&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.bikenew.pl/" g:undo="poS4" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S4"></button>
                        </div>
                        <div class="esc slp" id="poS4" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=8800028874533072262&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=5&amp;ved=0CMwBEOIJMAQ"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li style="margin-bottom:14px" class="g">
                <div class="vsc" pved="0CHkQkgowBQ" bved="0CHoQkQo" sig="TXz"
                     data-extra="ludocid=3109603151874331473&amp;lumarker=D">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi5"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -140px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,3109603151874331473&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=6&amp;ved=0CM0BEK8LMAU"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">Tadeusza Romanowicza 2<br>Kraków<br>
                                        <nobr>12 296 01 08</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a href="http://www.mikesport.pl/" class="l"
                                     onmousedown="return rwt(this,'','','','6','AFQjCNE8Gn_UfvZz3F2I0141HYpvth2arg','','0CM8BEBYwBQ',null,event)">Mike
                        SPORT - odzież <em>rowerowa</em></a></h3>

                    <div class="s">
                        <div class="f kv"><cite>www.mikesport.pl/</cite><span class="vshid"></span><span class="std">&nbsp;<span
                                class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.mikesport.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=6&amp;ved=0CNABEO4BMAU&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.mikesport.pl/" g:undo="poS5" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S5"></button>
                        </div>
                        <div class="esc slp" id="poS5" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=3109603151874331473&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=6&amp;ved=0CNQBEOIJMAU"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li style="margin-bottom:14px" class="g">
                <div class="vsc" pved="0CH0QkgowBg" bved="0CH4QkQo" sig="b6s"
                     data-extra="ludocid=463878982819201639&amp;lumarker=E">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi6"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -175px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,463878982819201639&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=7&amp;ved=0CNUBEK8LMAY"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">Szara 26<br>Kraków<br>
                                        <nobr>50 305 05 05</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a href="http://www.krakbike.pl/" class="l"
                                     onmousedown="return rwt(this,'','','','7','AFQjCNHqfkI7ezESS8KShuwMJ1bwmWtskA','','0CNcBEBYwBg',null,event)">KrakBike
                        - sklep i serwis <em>rowerowy</em></a></h3>

                    <div class="s">
                        <div class="f kv"><cite>www.krakbike.pl/</cite><span class="vshid"></span><span class="std">&nbsp;<span
                                class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.krakbike.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=7&amp;ved=0CNgBEO4BMAY&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.krakbike.pl/" g:undo="poS6" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S6"></button>
                        </div>
                        <div class="esc slp" id="poS6" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=463878982819201639&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=7&amp;ved=0CNwBEOIJMAY"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li style="margin-bottom:14px" class="g">
                <div class="vsc" pved="0CIEBEJIKMAc" bved="0CIIBEJEK" sig="wE5"
                     data-extra="ludocid=17301990709856861481&amp;lumarker=F">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi7"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -210px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,17301990709856861481&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=8&amp;ved=0CN0BEK8LMAc"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">Ogrody 2<br>Gmina Skawina<br>
                                        <nobr>12 256 87 50</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a
                            href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=17301990709856861481"
                            class="l"
                            onmousedown="return rwt(this,'','','','8','AFQjCNH7yfxoH-3n6Ip7UwXFuyd_WvifVw','','0CN8BEBYwBw',null,event)">AG
                        <em>Rowery</em></a></h3>

                    <div class="s">
                        <div class="f kv"><cite>maps.google.com</cite><span class="vshid"></span><span class="std">&nbsp;<span
                                class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://maps.google.com/maps/place%3Fhl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26bav%3Don.2,or.r_gc.r_pw.,cf.osb%26biw%3D1680%26bih%3D918%26um%3D1%26ie%3DUTF-8%26q%3Drower%2Bkrak%25C3%25B3w%26fb%3D1%26hq%3Drower%26hnear%3D0x471644c0354e18d1:0xb46bb6b576478abf,Krak%25C3%25B3w,%2BPoland%26cid%3D17301990709856861481&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=8&amp;ved=0COABEO4BMAc&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=17301990709856861481"
                                    g:undo="poS7" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S7"></button>
                        </div>
                        <div class="esc slp" id="poS7" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=17301990709856861481&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=8&amp;ved=0COQBEOIJMAc"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                        </div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li class="g">
                <div class="vsc" pved="0CIUBEJIKMAg" bved="0CIYBEJEK" sig="MA5"
                     data-extra="ludocid=8780710445599483000&amp;lumarker=G">
                    <div style="float:right">
                        <div style="margin-left:26px;width:168px;margin-top:2px">
                            <table class="ts intrlu" width="100%">
                                <tbody>
                                <tr>
                                    <td style="width:22px;paddding-top:1px" valign="top">
                                        <div class="lupin lumi8"
                                             style="background:url('/images/grey_pins2.png') no-repeat 0 -245px;height:35px;overflow:hidden;width:19px">
                                            <a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=0,0,8780710445599483000&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=map-marker-link&amp;resnum=9&amp;ved=0COUBEK8LMAg"
                                               style="display:block;height:35px;width:19px"></a></div>
                                    </td>
                                    <td style="color:#222;line-height:1.24" valign="top">77<br>Kraków - Wieliczka<br>
                                        <nobr>12 251 41 84</nobr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <h3 class="r"><a href="http://www.jokomisiada.pl/" class="l"
                                     onmousedown="return rwt(this,'','','','9','AFQjCNFnVyFMG7pqELGFIe2nAJ1sgO8hQw','','0COcBEBYwCA',null,event)">Jokomisiada</a>
                    </h3>

                    <div class="s">
                        <div class="f kv"><cite>www.jokomisiada.pl/</cite><span class="vshid"></span><span class="std">&nbsp;<span
                                class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.jokomisiada.pl/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=9&amp;ved=0COgBEO4BMAg&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.jokomisiada.pl/" g:undo="poS8" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S8"></button>
                        </div>
                        <div class="esc slp" id="poS8" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st"></span>

                        <div class="intrlu">
                            <div><span style="vertical-align:top"><a class="fl"
                                                                     href="http://maps.google.com/maps/place?hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;bav=on.2,or.r_gc.r_pw.,cf.osb&amp;biw=1680&amp;bih=918&amp;um=1&amp;ie=UTF-8&amp;q=rower+krak%C3%B3w&amp;fb=1&amp;hq=rower&amp;hnear=0x471644c0354e18d1:0xb46bb6b576478abf,Krak%C3%B3w,+Poland&amp;cid=8780710445599483000&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_result&amp;ct=placepage-link&amp;resnum=9&amp;ved=0CO0BEOIJMAg"><span
                                    style="white-space:nowrap">Place page</span></a></span></div>
                            <div style="padding-top:10px"><a
                                    href="/search?q=rower+krak%C3%B3w&amp;hl=en&amp;safe=off&amp;client=safari&amp;rls=en&amp;biw=1680&amp;bih=918&amp;prmd=imvns&amp;source=univ&amp;tbm=plcs&amp;tbo=u&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=local_group&amp;ct=more-results&amp;resnum=9&amp;ved=0COsBELcDMAg"
                                    class="fl">More results near <em>Kraków, Poland</em>&nbsp;»</a></div>
                        </div>
                        <div style="padding:8px 0 0"></div>
                    </div>
                </div>
                <!--n--></li>
            <!--m-->
            <li class="g">
                <div class="vsc" pved="0CIkBEJIKMAk" bved="0CIoBEJEK" sig="zOE"><h3 class="r"><a
                        href="http://www.mudserwis.com/" class="l"
                        onmousedown="return rwt(this,'','','','10','AFQjCNFz4wLM1JuBJaaH6Xbxkq4u_Tx3Sw','','0CO4BEBYwCQ',null,event)"><em>Rowery</em>
                    miejskie <em>Kraków</em>, <em>rowery</em> górskie, rowerki dla dzieci - Sklep <b>...</b></a></h3>

                    <div class="vspib" aria-label="Result details" role="button" tabindex="0">
                        <div class="vspii">
                            <div class="vspiic"></div>
                        </div>
                    </div>
                    <div class="s">
                        <div class="f kv"><cite>www.mudserwis.com/</cite><span class="vshid"><a
                                href="http://webcache.googleusercontent.com/search?q=cache:TIgDapWhh9kJ:www.mudserwis.com/+rower+krak%C3%B3w&amp;cd=10&amp;hl=en&amp;ct=clnk&amp;client=safari"
                                onmousedown="return rwt(this,'','','','10','AFQjCNEV8vUjLdXpmblE8SVxkmSigIF09Q','','0CIwBECAwCQ',null,event)">Cached</a></span><span
                                class="std">&nbsp;<span class="gl">-</span> <a
                                href="http://translate.google.com/translate?hl=en&amp;sl=pl&amp;u=http://www.mudserwis.com/&amp;ei=hsS8T7e1F6nW0QWSqvFR&amp;sa=X&amp;oi=translate&amp;ct=result&amp;resnum=10&amp;ved=0CO8BEO4BMAk&amp;prev=/search%3Fq%3Drower%2Bkrak%25C3%25B3w%26hl%3Den%26safe%3Doff%26client%3Dsafari%26rls%3Den%26biw%3D1680%26bih%3D918%26prmd%3Dimvns"
                                class="fl">Translate this page</a></span>
                            <button class="gbil esw eswd"
                                    onclick="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.clk(this)"
                                    onmouseover="window.gbar&amp;&amp;gbar.pw&amp;&amp;gbar.pw.hvr(this,google.time())"
                                    g:entity="http://www.mudserwis.com/" g:undo="poS9" title="Recommend this page"
                                    g:pingback="/gen_204?atyp=i&amp;ct=plusone&amp;cad=S9"></button>
                        </div>
                        <div class="esc slp" id="poS9" style="display:none">You +1'd this publicly.&nbsp;<a href="#"
                                                                                                            class="fl">Undo</a>
                        </div>
                        <span class="st">MudSerwis <em>w Krakowie</em> oferuje <em>rowery</em> Kross, górskie, rowerki dla dzieci, <em>rowery</em> turystyczne, składane, miejskie czy trekkingowe. Zapraszamy do zapoznania <b>...</b><br></span>
                    </div>
                </div>
                <!--n--></li>
        </ol>
    </div>
    <!--z--></div>