{% extends 'SeoCoreBundle::layout.html.twig' %}

{% block container %}
<h1 class="page-header">Add a page</h1>

<form action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-actions btn-group">
        <button type="submit" class="btn">
            <i class="icon-plus"></i> Create
        </button>
        <a href="{{ path('pages') }}" class="btn">
            Back to the list
        </a>
    </p>
</form>

{% endblock %}