<h1 class="page-header">Profile</h1>

<table class="table table-striped">
    <tr>
        <th>
            {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}
        </th>
        <td>
            {{ user.username }}
        </td>
    </tr>
    <tr>
        <th>
            {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}
        </th>
        <td>
            {{ user.email }}
        </td>
    </tr>
</table>
